@import 'variables';

.navigation-page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  background-color: #eee;
}

.navigation-page {
  flex-direction: column;

  > .page {
    max-height: 80%;
  }
}

.navigation {
  justify-content: bottom;
  padding: 0 1.5rem;
  text-align: center;

  .button {
    margin: 0.5rem;
  }
}

@media #{$medium-and-up} {
  .navigation {
    min-width: 300px;
    max-width: 600px;
  }
}